nav{
  background: #000000;
  color: #ffffff;
  list-style: none;
  clear: both;
}
nav li{
display: inline-block;
margin: 10px;
}
body{
  margin:0;
}
.burger div{
  width: 35px;
  height: 5px;
  background: #ffffff;
  margin: 6px 0;
}
#burger{
  float: right;
  visibility:hidden;
  margin: 5px;
}

@media screen and (max-width:700px){
  #burger{
  visibility: visible;
}
.burger{
display: block;
height: 40px;
width: 30px;
float: right;
cursor: pointer;
}
nav{
  list-style: none;
  overflow: hidden;
  min-height: 40px;
  margin: 0px auto;
}
nav li{
  display: none;
}
nav li.open{
float: none;
text-align: left;
margin:0;
visibility: visible;
display: block;
text-align: center;
padding-top: 40px;
width: 100%;
height: auto;
}
}
